* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OpenSans", Sans-serif;
}

@font-face 
  { font-style: normal;
    font-family: OpenSans;
    font-weight: 400;
    src: url("./../fonts/OpenSans-Regular.woff");
}

html, body {
  min-width:100%; 
  height:100%; 
}

.page {
  overflow: hidden;
}

.welcome {
  position: relative;
  color: #000000;
  background: rgba(0, 0, 0, 0.4);
  background-image: url("./../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.welcome:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.welcome-items {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.menu-list {
  list-style-type: none;
  display: flex;
  padding: 45px 0 0 0;
  margin-bottom: 140px;
  z-index: 2;
}

.menu-list-item {
  margin-left: 35px;
  text-transform: uppercase;
  color: #ffffff;
}

.menu-list-item:hover,
.news-tags:hover {
  text-decoration-line: underline;
}

.dropdown__list {
  display: none;
  position: absolute;
  list-style-type: none;
  padding: 20px 525px;
  color: #e1d8bd;
}

.dropdown__list-active {
  display: block;
}

a {
  text-decoration: none;
  color: inherit; 
}

.welcome-title {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  position: relative;
  padding: 0 0 255px 0;
  z-index: 2;
  line-height: 1.6;
}

.logo{
  position: relative;
  padding: 35px 0;
  z-index: 2;
}

.trend-posts {
  display: flex;
  flex-direction: row;
}

.trends-tittle,
.products-tittle  {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 28px;
}

.trends-tittle:after {
  content: "";
  display: block;
  margin: auto;
  width: 66px;
  padding-top: 14px;
  border-bottom: 5px solid #e1d8bd;
}

.trend-1 {
  position: relative;
  color: #000000;
  background: rgba(0, 0, 0, 0.4);
  background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trend-2 {
  position: relative;
  color: #000000;
  background: rgba(0, 0, 0, 0.4);
  background-image: url("../images/trend2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trend-3 {
  position: relative;
  color: #000000;
  background: rgba(0, 0, 0, 0.4);
  background-image: url("../images/trend3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trend-4 {
  position: relative;
  color: #000000;
  background: rgba(0, 0, 0, 0.4);
  background-image: url("../images/trend4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trend-1, 
.trend-2,
.trend-3,
.trend-4 {
  display: flex;
  width: calc(25% - 4px);
}

.trend-1,
.trend-2,
.trend-3 {
  margin-right: 4px;
}
.trend-1:after, 
.trend-2:after,
.trend-3:after,
.trend-4:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.trend-content {
  display: inline-block;
  align-self: flex-end;
  position: relative;
  margin: 158px 18px 16px 18px;
  padding: 39px 32px 32px 33px;
  border: 1px solid #e1d8bd;
  z-index: 2;
}
.trend-tag {
  margin-right: 20px;
}

.trend-tags,
.post-tags {
  padding-bottom: 10px;
  color: #b59f5b;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.trend-tittle {
  color: #ffffff;
}

.column-content {
  display: flex;
 justify-content: space-between;
  margin: 65px 13.8%;
}

.news {
  width: 795px;
} 
.trends-tittle,
.trend-tittle,
.trend-tags,
.news-tags, 
.post-title, 
.new-posts-tittle, 
.mini-post-tittle,
.products-tittle,
.product-tittle {
  text-transform: uppercase;
  font-weight: bold;
}

.post {
  display: flex;
  align-items: flex-start;
}

.post-image {
  width: 380px;
  margin-right: 30px;
  background-color: #eff6f1;
}

.post-tags li:nth-child(1n+2) {
  margin-left: 20px;
}

.post:nth-child(1n+2) {
  margin-top: 60px;
}

.post-title:hover, 
.mini-post-title:hover, 
.themes-item:hover {
  color: #b59f5b;
}

.post-information {
  display: flex;
  margin-top: 35px;
  margin-bottom: 52px;
}

.card-date {
  display: inline-block;
  color: #757575;
  margin-right: 14px;
}

.author {
  font-weight: bold;
}

.sidebar {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.new-posts-title{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.new-posts-title::after,
.products-tittle::after {
  content: "";
  display: block;
  margin: auto;
  width: 66px;
  padding-top: 14px;
  border-bottom: 5px solid #e1d8bd;
}

.mini-post {
  display: flex;
  align-items: flex-start;
  margin-top: 22px;
}

.mini-post-img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  background-color: #eff6f1;
}

.mini-post-title {
  font-size: 14px;
}

.search-group {
  display: flex;
  align-items: flex-start;
  margin: 60px 0;
}

.search-form {
  display: flex;
}

.field-label,
.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.field {
  width: 220px;
  padding: 14px 20px;
  background-color: #f4f7f6;
  border: 1px solid transparent;
}

.field:focus {
  outline: none;
  border-color: #b59f5b;
}

 .search-button{
  padding: 25px;
  border: none;
  background-color: #b59f5b; 
  background-image: url("svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}

.search-button:hover, 
.mailing-button:hover {
  background-color: #323232;
}

.mailing {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.mailing-title::after {
  content: "";
  display: block;
  margin: auto;
  width: 66px;
  padding-top: 14px;
  border-bottom: 5px solid #e1d8bd;
}

.mailing input {
  width: 270px;
  padding: 17px 0px 16px 17px;
  background-color: #f4f7f6;
  margin-bottom: 20px;
  margin-top: 25px;
}

.mailing button {
  width: 270px;
  font-weight: bold;
  border: none;
  color: #ffffff;
  padding: 20px 85px;
  background-color: #b59f5b; 
  text-transform: uppercase;
}

.tags {
  margin: 60px 0;
}

.tags-title {
  width: 95px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.tags-title::after{
  content: "";
  display: block;
  margin: auto;
  width: 66px;
  padding-top: 14px;
  border-bottom: 5px solid #e1d8bd;
}

.tags-list {
  width:330px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.tags-item {
  padding: 5px 15px;
  margin-left:5px;
  margin-bottom: 5px;
  border: solid;
  border-color: #ededed;
  font-weight: bold;
}

.tags-item:hover {
  border-color: #b59f5b;
}

.themes-title {
  width: 95px;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.themes-title::after{
  content: "";
  display: block;
  margin: auto;
  width: 66px;
  padding-top: 14px;
  border-bottom: 5px solid #e1d8bd;
}

.themes-item {
  display: flex;
}

.themes-number {
  justify-content:flex-start;
  color: #b59f5b;
  font-size: 12px;
  font-weight: bold;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 64px;
}

.products-section {
  margin: 0px 13.8%;
}
.product-item {
  width: 29%;
  justify-content: center;
}

.product-item:nth-child(n+2) {
  margin-left: 66px
}

.product-banner {
  margin-left: 20px;
  width: 100%;
}

.product-content {
  position: relative;
  border: 3px solid #e1d8bd; 
  padding: 55px 20px 70px 20px;
  margin-top: -30px;
  z-index: 2;
}

.product-link {
  color: #b59f5b
}

.shop {
  display: flex;
  align-items: baseline;
  margin-top: 25px;
  font-weight: bold;
  justify-content: space-between;
}

.costs {
  display: flex;
  flex-direction: column;
}

.cost-strikeout {
  text-decoration: line-through;
  font-size: 14px;
}

.product-button {
  width: 140px;
  font-weight: bold;
  border: none;
  color: #ffffff;
  padding: 20px 0px;
  text-align: center;
  background-color: #b59f5b; 
  text-transform: uppercase;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 230px 0 230px;

}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  background-color: #f4f7f6;
}

.socials-item {
  padding: 31px 30px;
}

.socials-item:nth-child(1){
  padding-left: 39.5%;
}

.socials-item:nth-last-child(-n+1) {
  padding-right: 39.5%;
}

.copiright {
  margin-top: 74px;
  padding: 0 400px 42px 400px;
  text-align: center;
}

.copiright-link{
  display: block;
  color: #757575;
}

@media(max-width: 640px) {
  body {
    font-size: 14px;
  }
  .welcome {
    background-image: url("../images/banner-mobile.jpg");
    width: 100%;
  }
  .navigation {
      display: none;
  }
  .logo {
    width: 74%;
    padding-top: 225px; 
  }
  .trend-posts {
    display: flex;
    flex-direction: column;
  }
  .trend-1,
  .trend-2,
  .trend-3,
  .trend-4 {
    width: 100%;
    margin:0px 0px 3px 0px;
  }
  .column-content {
    display: flex;
    flex-direction: column; 
    margin: 0 0 44px 0;
  }
  .post {
    display: flex;
    flex-direction: column;
  }
  .products {
  display: flex;
  flex-direction: column;
  }
  .product-item {
    margin-bottom: 215px;
  }
}
@media(min-width: 641px) and (max-width: 1200px){
  body {
    font-size: 15px;
  }
  .welcome {
    background-image: url("../images/banner-bg-tablet.jpg");
    width: 100%;
  }
  .welcome-items {
    padding: 0px 35px 0px 35px;
  }
  .navigation {
    display: none;
  }
  .column-content {
    margin: 6.5% 0%;
    padding: 0% 4.5%;
    justify-content: space-around;
  }
  .trend-posts {
    width: 100%;
    flex-wrap: wrap;
  }
  .trend-1,
  .trend-2,
  .trend-3,
  .trend-4 {
    width: calc(50% - 4px);
  }
  .trend-1,
  .trend-3 {
    margin-right: 4px;
  }

  .trend-1,
  .trend-2 {
    margin-bottom: 3px;
  }
  
  .news {
    width: 390px;
    margin-right: 35px;
  }

  .post {
    display: flex;
    flex-direction: column; 
  }

  .post-image {
    padding: 0px;
    margin-right: 0px;
    width: 100%;
  }

  .products-section {
    width: 100%;
    padding: 0px 35px;
  }
  .product-item {
    width: 44%;
    margin-right: 35px;
  }
  .product-item:nth-child(n+2) {
    margin-left: 0px
}
}
